<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.student_assessment.dao.CourseDao">
	<resultMap id="rs1" type="Course">
		<id property="courseId" column="courseId"></id>
		<result property="courseName" column="courseName"></result>
		<result property="tNo" column="tNo"></result>
	</resultMap>
	<select id="selectCourseById" parameterType="string" resultType="Course">
		select * from "course" where collegeId=#{courseId}
	</select>
	<insert id="addCourse" parameterType="Course">
		insert into "course" values( #{courseId},#{courseName},#{tNo})
	</insert>
	<update id="updateCourse" parameterType="Course">
		update "course" set
			<if test="courseName!=null and courseName!=''">
				courseName=#{courseName}
			</if> 
		where courseId=#{courseId}
	</update>
	<delete id="deleteCourse"  parameterType="java.lang.String">
		delete from "course" where collegeId=#{courseId}
	</delete>
</mapper>