<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.student_assessment.dao.StudentDao">
	<resultMap id="rs1" type="Student">
		<id property="sNo" column="sNo"></id>
		<result property="sName" column="sName"></result>
		<result property="sSex" column="sSex"></result>
		<result property="sBirthday" column="sBirthday"></result>
		<result property="sState" column="sState"></result>
		<result property="sStatus" column="sStatus"></result>
		<result property="collegeId" column="collegeId"></result>
		<result property="classId" column="classId"></result>
		<result property="sAge" column="sAge"></result>
	</resultMap>
	<resultMap type="StudentBean" id="rs2">
		<id property="sNo" column="sNo"></id>
		<result property="sName" column="sName"></result>
		<result property="sSex" column="sSex"></result>
		<result property="sBirthday" column="sBirthday"></result>
		<result property="sState" column="sState"></result>
		<result property="sStatus" column="sStatus"></result>
		<result property="collegeId" column="collegeId"></result>
		<result property="classId" column="classId"></result>
		<result property="sAge" column="sAge"></result>
		<result property="className" column="className"></result>
		<result property="collegeName" column="collegeName"></result>
	</resultMap>
	<select id="selectStudentBySNo" parameterType="string" resultType="Student">
		select * from stu where  sNo=#{sNo}
	</select>
	<select id="selectStudent" parameterType="Student" resultMap="rs2">
	select * from 
		(select rownum rn ,s.*,c.collegeName,c2.className from stu s,colleges c,classes c2 
         where s.collegeId=c.collegeId and s.classId=c2.classId
		 	<if test="sNo!=null and sNo!=''">
				and s.sNo=#{sNo}
			</if>
			<if test="sName!=null and sName!=''">
				and s.sName=#{sName}
			</if> 
			<if test="sSex !=null and sSex !=''">
				and s.sSex =#{sSex}
			</if> 
			<if test="sAge!=null and sAge!=''">
				and	s.sAge=#{sAge}
			</if> 
			<if test="sBirthday !=null and sBirthday !=''">
				and s.sBirthday =#{sBirthday}
			</if> 
			<if test="sState !=null and sState !=''">
				and s.sState =#{stu.sState}
			</if> 
			<if test="sStatus !=null and sStatus!=''">
				and s.sStatus =#{sStatus}
			</if> 
			<if test="classId!=null and classId!=''">
			   and  c2.classId=#{classId}
			</if>
			<if test="collegeId !=null and collegeId!=''">
				and c.collegeId =#{collegeId}
			</if>
         )
	</select>
	<insert id="addStudent" parameterType="Student">
		insert into stu  values( #{sNo},#{sName}, #{sSex},#{id},#{sState}, #{sStatus}, #{collegeId},#{classId},#{sAge})
	</insert>
	<update id="updateUser" parameterType="Student">
		update stu set
			<if test="sNo!=null and sNo!=''">
				sNo=#{sNo}
			</if>
			<if test="sName!=null and sName!=''">
				sName=#{sName}
			</if> 
			<if test="sSex !=null and sSex !=''">
				sSex =#{sSex}
			</if> 
			<if test="sAge!=null and sAge!=''">
				sAge=#{sAge}
			</if> 
			<if test="sBirthday !=null and sBirthday !=''">
				sBirthday =#{sBirthday}
			</if> 
			<if test="sState !=null and sState !=''">
				sState =#{stu.sState}
			</if> 
			<if test="sStatus !=null and sStatus!=''">
				sStatus =#{sStatus}
			</if> 
			<if test="classId!=null and classId!=''">
			   	classId=#{classId}
			</if>
			<if test="collegeId !=null and collegeId!=''">
				c.collegeId =#{collegeId}
			</if>
		where sNo=#{sNo}
	</update>
	<delete id="deleteStudent"  parameterType="java.lang.String">
		delete from stu where sNo=#{value}
	</delete>
</mapper>